<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/login_style.css">
</head>
<body>
    <main>
        <section>
            <div class="form-section">
                 <div class="form-box">
                       <div class="button-box">
                              <div id="btn"></div>
                              <button type="button" class="toggle-btn" onclick="login()" >Log In</button> 
                              <button type="button" class="toggle-btn" onclick="register()">Register</button>  
                       </div>
                    <div class="social-icon">
                        <img src="./Facebook.png" alt="">
                        <img src="./Twitter.png" alt="">
                        <img src="./YouTube.png" alt="">
                    </div>
                    <form id="login" class="input-group" method="post" action="/login">
                        <input type="text" class="input-field" placeholder="User Id" name="username" required>
                        <input type="password" class="input-field" placeholder="Enter Password" name
                        ="pass" required>
                        <input type="checkbox" class="check-box"><span>Remember Password</span>
                        <button type="Submit" class="submit-btn">Log In</button>
                    </form>
                    <form id="register"class="input-group" method="post" action="/register">
                        <input type="text" class="input-field" placeholder="User Id" name="username" required>
                        <input type="phone" class="input-field" placeholder="Phone" name="phone" required>
                        <input type="password" class="input-field" placeholder="Enter Password" name="pass" required>
                        <button type="Submit" class="submit-btn">Register</button>
                    </form>
                   <%if(typeof(data) != "undefined"){console.log(data) %> <p <% if(data.status == false) {%>style="color: red;" <% }else{%>style="color: lime;"<% } %>>  <%= data.msg %> <%  } %> </p>
                 </div>
            </div>
        </section>
    </main>
    <script>
        var x= document.getElementById("login");
        var y= document.getElementById("register");
        var z= document.getElementById("btn");

        function register(){
            x.style.left="-400px"
            y.style.left="50px"
            z.style.left="110px"
        }
        function login(){
            x.style.left="50px"
            y.style.left="450px"
            z.style.left="0"
        }
    </script>
</body>
</html>